* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 98vw;
  margin: 0 auto;
}

.content {
  display: flex;
  margin-top: 10px;
}

a {
  color: inherit;
}
